@import "bootstrap-sprockets";
@import "bootstrap";
//colors
$color_alto_approx: #ddd;

body {
  padding-top: 60px;
}
.fa-star {
  color: orange;
}
.jqx-notification-container {
  top: 56px;
}
.movie_list {
  padding-left: 180px;
}
.input_title {
  width: 250px;
}
.input_desc {
  width: 250px;
  height: 100px;
}
