@import "bootstrap-sprockets";
@import "bootstrap";
//colors
$color_alto_approx: #ddd;

.fa-star {
  color: orange;
}
.jqx-notification-container {
  top: 56px;
}
.movie_list {
  margin-top: -460px;
  padding-left: 180px;
}
.input_title {
  width: 250px;
}
.input_desc {
  width: 250px;
  height: 100px;
}
.side_bar {
  padding-top: 60px;
  margin-left: -60px;
  width: 140px;
}
#category_component {
  cursor: pointer;
}
#new_movie {
  float: right;
}
